[git]
    autoCommit = true
    autoPush = false

[edit]
    command = "nvim"

[merge]
    command = "nvim"
    args = [
      "-d",
      "{{ "{{" }} .Destination {{ "}}" }}",
      "{{ "{{" }} .Source {{ "}}" }}",
      "{{ "{{" }} .Target {{ "}}" }}",
    ]
